body {
    margin: 0;
}

.container {
    width: 800px;
    margin: 0 auto;
    display: flex;

}

header {
    background-color: aquamarine;
    padding: 20px 0;

}
header a {
    color: brown;
    text-decoration: none;
}
header #brand {
    font-weight: bold;
    font-size: 24px;
}
 header nav {
    text-align: right;
    flex-grow: 1;
 }   

#herounit {
    background-color: aqua;
    padding: 100px 0;
}

h1 {
    margin: 0;
}

#SelamatDatang {
    flex-grow: 1;
    font-size: 24px;
}

#fotoutama {
    width: 200px;
    height: auto;
}

#gallery .container {
    flex-direction: column;
}


#gallery h3 {
    text-align: center;
}
#gallery #grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
}

#gallery #grid img {
    width: 250px;
    height: 280px;
    object-fit: cover;
}
